table {
  border-collapse: collapse;
  width: 70%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){background-color: #f2f2f2}

th {
  background-color: #551fd3;
  color: white;
}

.edit-employee-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.edit-employee-form {
  display: flex;
  flex-direction: column;
}

form {
  margin: auto;
  max-width: 800px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
select,
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #4285f4;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #1a73e8;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 3px;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination button.disabled {
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 5px;
}
