.navbar {
  background-color: #551fd3;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 1rem;
}

.dropdown-menu {
  background-color: #6637d2;
  border: 1px solid #ddd;
  display: none;
  margin-top: 0rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dropdown-menu li {
  margin: 0;
}


 